*.log
*.pot
*.pyc
__pycache__/
media/
.env
db.sqlite3
settings.json

# PyCharm
.idea

# Local .infra directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore transient lock info files created by infra apply
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc